.footer-section {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-section .footer-link {
    width: 100%;
    height: 150px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-section .footer-link .footer-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.footer-section .footer-copyright {
    width: 100%;
    height: 50px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section .footer-group {
    display: flex; 
    gap: 15px;
}

.joinUsButton {
    text-decoration: none;
  }
  
  .joinUsButton__button {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    background-color: #1da1f2; /* Màu xanh của Twitter */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .joinUsButton__button:hover {
    background-color: #0a95d9; /* Đổi màu khi hover */
  }
  
  .joinUsButton__icon {
    margin-right: 8px;
    font-size: 20px;
  }
  


